* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #552b7b;
    color: whitesmokesmoke;
    font-family: "Poppins", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

#h-title {
    margin-left: 50px;
    color: whitesmoke;
}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: 50px;
}

header a {
    display: block;
    padding: 25px;
    margin: 0 10px;
    text-decoration: none;
    color: whitesmoke;
}

header a:hover {
    background-color: whitesmoke;
    color: #552b7b;
    transition: 0.5s;
}

main {
    display: flex;
    align-items: center;
    height: 80vh;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right {
    width: 50%;
    display: flex;
    justify-content: center;
}

.login-form {
    width: 60%;
    background-color: whitesmoke;
    color: black;
    border-radius: 10px;
    padding: 20px;
    color: #552b7b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.login-form h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.login-form p {
    font-size: 20px;
    margin: 10px 0;
}

.login-form input {
    width: 100%;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #552b7b;
}

#login-btn {
    margin-top: 50px;
    background-color: whitesmoke;
    cursor: pointer;
}

#login-btn:hover {
    background-color: #552b7b;
    color: whitesmoke;
    transition: 0.5s;
}

footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}